<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="AmazonShopping">
  <test thread-count="2" name="ErrorMethod">
    <classes>
      <class name="Ecommerce.ErrorCheck"/>
     
    </classes>
  </test> <!-- Test -->
   <test thread-count="2" name="FullTest">
    <classes>
      <class name="Ecommerce.MyntraShopping"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
